language: node_js
node_js: 
  - "14.16.0"

cache:
  yarn: true

install:
  - yarn

script:
  - yarn build

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: dist
  email: thundersmile@126.com
  name: comlejade
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: false
  on:
    branch: master
